html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.app {
    height: 100vh;
    display: grid;
    grid-template-columns: 320px 1fr;
}

.sidebar {
    border-right: 1px solid red;
}

.pane {
  display: grid;
  grid-template-rows: auto 1fr auto; /* header | messages | composer */
  min-height: 0;                      /* enables child overflow */
}

.messages {
  overflow: auto;      /* only messages scroll */
  padding: 12px;
}

.composer {
  padding: 10px;
  border-top: 1px solid #e5e7eb;
  background: #fff;
}

.messageinputbox {
    width: 100%;
}

.messageobject {
    width: 100%;
    display: grid;
}

.messagetext.me {
    justify-self: end;
}

.messagetext {
    width: fit-content;
    background: green;
    border: 2px solid greenyellow;
    padding: 6px;
    border-radius: 10px;
}

.chatlist {
    overflow: scroll;
    max-height: 99vh;
    background-color: #474747;
    padding: 5px;
}

.chatobject {
    padding: 3px;
    margin: 2px;
    border-radius: 10px;
    background: #636363;
}

.chatobject:hover {
    background-color: darkgray;
}